
body{
    background-image: url('https://external-preview.redd.it/EG7bjGp5PDvZ8golrKh3m84n-A9khC5jDE-hqqoVfvA.png?format=pjpg&auto=webp&s=3d441c3774c597cd0136e9634303ef86c0d8677a');
    background-size: cover;
    background-attachment: fixed;
}
.welcome_page {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: xx-large;
    background:linear-gradient(to right, #f0e330, #1bdcfa);
    background-clip: text; 
    -webkit-background-clip: text;
     color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 140px;
}
.start_button{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 5px;
}
.start{
    border-radius: 20px;
    font-size: 55px;
    background:linear-gradient(to right, #02e9fa, #027afa);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: -5%;
    font-size: 70px;
}
.start:hover{
    cursor:pointer;
}
